extends ./base.pug

block content
    section.home 
        div.home__left
        div.home__center.hc
            div.hc__buttonArea
                form(action="/create" method="get")
                    input(type="submit" value="Write") 
            ul.hc__dataList
                li 번호
                li 제목
                li 작성자
                li 작성일
            ul.hc__list
                li 1
                li DUMMY
                li AUTHOR
                li 2021/05/05
        div.home__right